* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: dodgerblue;
}


nav li {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
}

nav a {
    color: darkslategray;
}

