* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    color: #4b8;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
}

nav a {
    color: darkslategray;
}

